@import "tailwindcss";

@theme inline{
  --font-dancing: var(--font-dancing)
}

@theme inline{
  --font-playfair: var(--font-playfair)
}

@theme inline{
  --font-vibes: var(--font-vibes)
}

/* Previne o overscroll bounce */
html, body {
  overscroll-behavior: none;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
  background-color: black;
}

body{
  background-color: black;
  /* Garante que não haja espaço em branco */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100dvh; /* Para dispositivos móveis */
}

/* Específico para iOS Safari */
body {
  position: relative;
  overflow-x: hidden;
}

/* Custom scrollbar styles */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #f472b6 #1f2937;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #1f2937;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #f472b6;
  border-radius: 10px;
  border: 2px solid #1f2937;
}